   body{ 
    background: rgb(237,166,100);
    background: linear-gradient(90deg, rgba(237,166,100,1) 6%,   rgba(230,99,67,1) 50%,   rgba(242,173,62,1) 84%);
    margin: auto;
  }

    .navbar{
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    width: 40%;
  }

  .container{
    padding: 40px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .search-input {
    width: 20rem;
    height: 2.5rem;
    border-radius: 5px;
    border-color: transparent;
  }

  .search-button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 5px;
    border-color: transparent;
  }

  .seperator {
    color: yellow
}

  .pokemon {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    text-align: center;
    
  }

  .img-container {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    text-align: center;
}

  .pokemon-picture {
    max-width: 60%;
  }

  .pokemon-img-picture {
    max-width: 40%;
  }
    
  .pokemon .pokemon-info {
    margin-top: 30px;
    width: 45%;
    background-color: #f5d6ae;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
  }
  
  .pokemon-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1em;
  }
  
  .pokemon-info .name {
    font-size: 2em;
    text-align: center;
    color: #323136; 
    font-weight: bold;
    text-transform: capitalize;
  }
  .pokemon-info .number{
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
  }
  .pokemon-info .skill{
    text-align: justify;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pokemon-info .type {
    font-size: 1.6em;
  }
  .pokemon-info .weight,
  .pokemon-info .height {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }
  

  .pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 70px;
  }
  
  .card {
    list-style: none;
    padding: 15px;
    color: #222;
    text-align: center;
    border-radius: 20px;
    position: relative;
	  width: 220px;
    height: 280px;
  }
  
  .steel {
    background-color: #f4f4f4;
  }
  
  .fire {
    background-color: #FDDFDF;
  }
  
  .grass {
    background-color: #DEFDE0;
  }
  
  .electric {
    background-color: #FCF7DE;
  }
  
  .water, .ice {
    background-color: #DEF3FD;
  }
  
  .ground {
    background-color: #f4e7da;
  }
  
  .rock {
    background-color: #d5d5d4;
  }
  
  .fairy {
    background-color: #fceaff;
  }
  
  .poison {
    background-color: #98d7a5;
  }
  
  .bug {
    background-color: #f8d5a3;
  }
  
  .dragon {
    background-color: #97b3e6;
  }
  
  .psychic {
    background-color: #eaeda1;
  }
  
  .ghost, .dark{
   background-color: #cfc1c1;
  }

  .flying {
    background-color: #F5F5F5;
  }
  
  .fighting {
    background-color: #E6E0D4;
  }
  
  .normal {
    background-color: #F5F5F5;
  }
  
  .card:hover {
    animation: bounce 0.5s linear;
  }
  
  .card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: normal;
    position: relative;
    z-index: 2;
  }
  
  .card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
    position: relative;
    z-index: 2;
  }
  
  .card-image {
    height: 180px;
    position: relative;
    z-index: 2;
    width: 100%;
  }
  
  @keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
  
    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
  } 
